@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400;600;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans", sans-serif;
}
button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container {
  display: flex;
  height: 100vh;
}
.left-container {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.6rem;
  border-right: 1px solid #ddd;
}
.right-container {
  max-width: 100%;
  flex: 1;
}

.item {
  font-size: 1.6rem;
}
.items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
.conversation-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.all-contacts {
  display: flex;
  align-items: center;
  gap: 1rem;
}
